#aboutUsLeftArea {
    width: 65%;
}

#aboutUsRightArea {
    width: 35%;
}

#aboutUsRightArea img {
    width: 10em;
}

#requirements {
    width: 100%;
}

#requirements div{
    padding-left: 4em;
    padding-right: 2em;
    float: left;
    width: 33%;
}

.caption {
    padding: 1em;
    margin-left: 2em;
    margin-right: 2em;
    
}

.center {
    text-align: center;
}