.modalDialog {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	opacity:0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}

.modalDialog:target {
	opacity:1;
	pointer-events: auto;
}

.modalDialog > div {
    width: 512px;
    height: 70%;
	position: relative;
	margin: 10% auto;
	padding: 0 2.5%;
	border-radius: 10px;
	background: #fff;
}

.modalDialog div p {
    padding: 2em;
}

.modalDialog ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.modalDialog li {
    float: right;
    height: 100%;
    font-size: 1.5em;
    font-family: Dotum;
    line-height: 1.3em;
    
}

li.close {
    border: 5px #000;
    background-color: #fff;
    
}