.navArea {
    float: left;
    width: 25%;
    height: 100%; 
    background-color: #000;
}

.navButtons {
    font-family: MyriadPro;
    color: #fff;
    padding: 2em;
    margin: auto;
    height: 24em;
}

.navButtons ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navButtons li {
    clear:both;
    width:100%;
    height: 3em;
    vertical-align: middle;
    text-align: center;
}

.navButtons img {
    width: 3em;
    height: 3em;
    float: left;
}


#mythScreenRightArea {
    float: left;
    width:70%;
    height: 100%;
}

