#navigationMapTopArea {
	width:100%;
	height:30%;
	float:left;
}

#navigationMapLogo {
    z-index: 99999;
    float: right;
    position: relative;
    top: 0px;
    width: 15em;
    height: 15em;
}


#navigationMapContentArea {
	width:100%;
	height:70%;
	float:left;
	padding: 2em;
}

#navigationMapTable {
    width:60%;
    height: 100%;
    margin: auto;
}

div.navigationMapRow {
    height: 50%;
    width: 100%;
    border: 2px solid green;
}

div.navigationMapMyth {
    width: calc(100% /2);
    height: 100%;
    border: 2px solid cyan;
	float:left;
	text-align:center;
}

#navigationMapMyth1 {
    background-color: #31969B;
    font-family: Dotum;
}

#navigationMapMyth2 {
    background-color: #6F4796;
    font-family: Dotum;
}

#navigationMapMyth3 {
    background-color: #D1AB4E;
    font-family: Dotum;
}

#navigationMapMyth4 {
    background-color: #C1857A;
    font-family: Dotum;
}

#navScreenElements1 ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#navScreenElements1 li {
    float: right;
    height: 100%;
    font-size: 1.5em;
    font-family: Dotum;
    line-height: 1.3em;
    
}
