#themeScreenLeftArea {
    float: left;
    width: 25%;
    height: 100%;
    background-color: #000;
}

#themeScreenRightArea {
    float: left;
    width: 75%;
    height: 100%;
}
.panel {
    float: left;
    width: 98%;
    height:60%;
}

#youtube {
    clear: both;
    text-align: center;
}

iframe {
    width: 100%;
    height: 100%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    padding: 0.5em;
    margin : 0.5em;
}

p {
    width: 100%;
    padding: 0.5em;
    margin: 0.5em;
    font-size: 1.2em;
    font-family: MyriadPro, Arial, Serif;
}

#leftButton {
    position: absolute;
    z-index: 99999;
    width: 5%;
    height: 60%;
}
#leftButton img {
    opacity: 0.4;
    filter: alpha(opacity=40); /* For IE8 and earlier */
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 3em;
    height: 3em;
}

#rightButton {
    position: absolute;
    right: 0%;
    z-index: 99999;
    width: 5%;
    height: 60%;
}
#rightButton img {
    opacity: 0.4;
    filter: alpha(opacity=40); /* For IE8 and earlier */
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 3em;
    height: 3em;
}

#themeScreenElements div {
    position: relative;
    left: 25%;
}

#themeScreenElements li img {
    width: 5em;
    height: 5em;
}

#themeScreenElements ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 100%;
}

#themeScreenElements li {
    float: left;
    height: 7.5em;
    width: 7.5em;
    
}